.idea/
*.o
*.exe
*.lst
*.pob
*.a
*~
lib/*
bin/*
**/*.dSYM/*
**/*.dSYM
acq_run
femsg
ipcmon
logger
obsolete/
vmehardware
ipctotcp/buffertcpclient
ipctotcp/ipctotcp
pacman/pacman
tape/tape
caenr
caenw
cnaf
docnaf
femsg
femsg-stdout
fifo
m_setup
pacor
udpmon
rtems/vmeacq/o-optimize/
scad
scop
udptoipc
vmereset
vmeterm
sisread
caenr
caenw

