*/*.o
*/*/*.o
*/*.lst
*/*.pob
*/*.exe
*/*.ralf
*/*.a
*/*/*.a
*/*.*~
*/*.c~
lib/*
bin/*
**/*.dSYM/*
**/*.dSYM
Dacq/acq_run
Dacq/femsg
Dacq/ipcmon
Dacq/logger
Dacq/obsolete/
Dacq/vmehardware
ipctotcp/buffertcpclient
ipctotcp/ipctotcp
pacman/pacman
tape/tape
Dacq/caenr
Dacq/caenw
Dacq/cnaf
Dacq/docnaf
Dacq/femsg
Dacq/femsg-stdout
Dacq/fifo
Dacq/m_setup
Dacq/pacor/lib/pacorlib.a
Dacq/pacor/pacor
Dacq/pacor/pacor.o
Dacq/udpmon
rtems/vmeacq/o-optimize/
scad/scad
scop/scop
udptoipc/udptoipc
vmereset/vmereset
vmeterm/vmeterm
vmexxlib/sisread
vmexxlib/caenr
vmexxlib/caenw

